<div class="container">
  <div class="row h-200 d-flex justify-content-center align-items-center py-5">
    <h1 class="text-center">Add an article</h1>
    <%= render "form", article: @article %>
  </div>
</div>
